services:
  my-app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 3555:3555
    environment:
      - TEST2=Docker Compose
    depends_on:
      - redis
    networks:
      - my-network

  redis:
    image: redis:latest
    ports:
      - 6379:6379
    networks:
      - my-network

networks:
  my-network:
    driver: bridge
