services:
  my-app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 3000:3000
    volumes:
      - ./src:/app/src
    depends_on:
      - database
      - cache
    networks:
      - my-network

  database:
    image: postgres:17-alpine
    environment:
      POSTGRES_PASSWORD: abcde
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    ports:
      - '5432:5432'
    networks:
      - my-network

  cache:
    image: redis:alpine
    ports:
      - 6379:6379
    networks:
      - my-network

networks:
  my-network:
    driver: bridge
