services:
  web:
    image: docker push 003939337440.dkr.ecr.ap-northeast-2.amazonaws.com/education:hyunhoo

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - web
